* {
    margin: 0;
    padding: 0;
}

html, body {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;

    background-color: black;
}

@font-face {
    font-family: 'Norse-Bold';
    src:
        local('Norse-Bold'),
        local('Norse-Bold'),
        url('font/Norse-Bold.otf')
        format('opentype')
}

img {
    height: 120px;
}

h1 {
    font-family: 'Norse-Bold';
    color: white;
    font-size: 6rem;
    font-weight: 100;
}

input, label {
    display: block;
}

input {
    box-sizing: border-box;
}

label {
    font-size: 0.65rem;
    text-transform: uppercase;
    letter-spacing: 0.2ch;
    line-height: 3ch;
}

form {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

input {
    border: 0.5px solid #E5E7EB;
    border-radius: 3px;
}

input:focus {
    border: 1px solid rgb(0, 140, 255);
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
    outline: none !important;
}



a {
    text-decoration: none;
    color: #596D48;
    font-weight: 600;
}

button {
    border-radius: 9px;
    padding: .7em 2em;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    background-color: #596D48;
    outline: none;
    border: none;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
}

.submit-section a, p {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 600;
}

.first-column div, .second-column div {
    margin: 0.9rem;
}

.input-section {
    border: 0.5px solid #E5E7EB;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.1);
    background-color: rgb(255, 255, 255);
}

.form-container {
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0 6rem;
    
}

.form-section {
    background-color: #f0f0f0;
    width: 60vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-hero {
    background-image: url(./images/green-stuff.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 40vw;
}

.odin-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.5rem;
    gap: .5rem;

    justify-content: center;
    align-items: center;

    position: relative;
    top: 118px;
}

.header, .input-section, .submit-section {
    padding: 1.5rem;
}

/* Media queries */

@media (max-width: 850px) {
    .form-container {
        margin: 0;
        flex-direction: column;
        align-items: center;
    }

    .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .odin-container h1, img {
        height: 100px;
        font-size: 100px;
    }

    .odin-container {
        justify-content: center;
        align-items: end;
        position: relative;
        top: 65px;
    }

    .side-hero, .form-section {
        width: 100vw;
        min-width: 200px;
        height: 100vh;
    }

    .input-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .submit-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 512px) {
    .first-column {
        margin-bottom: -60px;
    }

    .side-hero {
        height: 12vh;
    }

    .odin-container {
        padding: 0;
        top: 0px;
    }
}