/* Media queries */
@media only screen and (max-width: 41rem) {
    body {
        margin: 0;
        padding: 0;
    }

    .form-container {
      display: flex;
      flex-direction: column;
    }

    .side-hero {
        width: 100%;
    }

    .form-section {
        width: 100%;
    }
  }

body {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Norse-Bold';
    src:
        local('Norse-Bold'),
        local('Norse-Bold'),
        url('font/Norse-Bold.otf')
        format('opentype')
}


img {
    height: 120px;

}

h1 {
    font-family: 'Norse-Bold';
    color: white;
    font-size: 4rem;
    font-weight: 900;

}



.odin-container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.3);
    gap: .5rem;
    padding: 16px;

    justify-content: center;
    align-items: center;

    position: relative;
    top: 192px;
    
}


.form-container {
    max-height: 100vh;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
}

.side-hero {
    height: 100vh;
    /* width: 100%; */
    min-width: 300px; 
    background-image: url(./images/green-stuff.jpg);
    background-position: center;
    background-repeat: no-repeat;


}

.form-section {
    height: 100vh;
    /* width: 100%; */
    /* min-width: 300px; */
    background-color: azure;
}